/build/
/local-data/

*.[Bb][Ii][Nn]
!/应用/数据/游戏/gam4980/8.BIN
!/应用/数据/游戏/gam4980/E.BIN
*.[Bb][Dd][Aa]
*.[Gg][Aa][Mm]
*.[Ss][Aa][Vv]
*.[Ll][Oo][Gg]
*.[Pp][Pp][Mm]
*.[Ii][Mm][Gg]
*.elf
*.exe
*.map
*.o

__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
